body{
margin:0px;
height:100%;
background-color:#666666;
}
#bgk{
width:960px;
height:540px;
margin:60px auto auto auto;
background-color:#FFFFFF;
}
#header{
width:960px;
height:90px;
background-color:#d5d5d5;
}
#headerleft{
font-family:"ו";
font-size:22px;
font-style:normal;
font-weight:900;
text-indent:10px;
line-height:90px;
color:#005197;
float:right;
}
#content{
width:960px;
height:450px;
background-image:url(../images/background.jpg);
}
#content div{
background-color:#efefef;
width:300px;
height:200px;
position:absolute;
top:250px;
margin-left:20px;
}
#content div span{
display:block;
text-align:center;
font-size:20px;
font-family:"ו";
font-weight:bold;
line-height:50px}
.label{
font-family:"ו";
font-size:12px;
color:#747474;
text-align:right;
width:90px;
}
#submit{
width:55px;
height:25px;
background-color:#146ebe;
color:#FFFFFF;
border:0;
cursor:pointer;
}
#reset{
width:55px;
height:25px;
background-color:#669900;
color:#FFFFFF;
border:0;
cursor:pointer;
}
#identify{
width:70px;
}
#image{
background-image:url(../images/image.png)
}
