/* CSS Document */
body{
margin:0;
height:100%;
}
.wp{
width:1000px;
margin-top:0;
margin-bottom:0;
margin-left:auto;
margin-right:auto;
}
.left{
float:left;
}
.right{
float:right;
}
#header{
height:50px;
background-color:#367bb2;
}
#logo{
font-family:"����";
font-size:24px;
color:#FFFFFF;
text-shadow:#CCCCCC;
font-weight:bold;
line-height:50px;
width:400px;
float:left;
}
#logo span{
font-family:"����";
font-size:18px;
color:#CCFF66;
text-shadow:#CCCCCC;
font-weight:bold;
font-style:oblique;
}
#time{
height:25px;
line-height:25px;
font-family:"����";
font-size:14px;
text-align:center;
color:#0;
}
#welcome{
height:50px;
line-height:50px;
font-family:"����";
font-size:12px;
text-align:center;
color:#FFFFFF;
}
#welcome font{
color:#CCFF33;
}

/**************���˵�**********/
#navigation{
height:38px;
background-color:#286496;
}

#menu{
width:850px;
margin:0;
padding:0;
}
#menu ul {
margin: 0;
padding: 0;
}

#menu ul li {
position: relative; 
list-style-type: none;
float: left;
text-align: center;
height:31px;
line-height:30px;
padding: 2px;
width: 100px;
} 

#menu ul ul {
position: absolute;
top:34px;
left: -1px;
display: none; 
} 
#menu ul ul li{
border-top:1px solid #ffffff;
height:28px;
background-color:#286496;
}
#menu li a{
display:block;
width:85px;
height:30px;
color:#dddddd;
font-size:15px;
font-family:"����";
text-decoration:none;
text-align:center;
margin-left:2px;
}
#menu ul li ul li a:hover{
color:#FFFFFF;
font-weight:bold;
}


/**�����˵�**/
#customerpage ul{
list-style:none;
margin:0;
position:absolute;
left:-440px;
top:90px;
}
#customerpage ul li{
float:none;
background-color:#2a639a;
border-top:1px solid #ffffff;
}

/**************ҳ��������************/
/***������ǩ**/
#status{
font-size:13px;
font-family:"����";
color:#666666;
text-indent:4px;
}
#status span{
color:#0066CC;
}
#data{
height:auto;
width:1000px;
border-radius:0 0 5px 5px;
border:1px solid #dedede;
}
#datalist{
height:600px;
width:1000px;
border-radius:0 0 5px 5px;
border:1px solid #dedede;
}
#datalist>span{
color:#3278aa;
display:block;
height:32px;
font-family:"����";
font-size:14px;
line-height:32px;
text-indent:15px;
font-weight:bold;
background-color:#eeefff;
background-image:url(../images/back.png);
}
#data>span{
color:#3278aa;
display:block;
height:32px;
font-family:"����";
font-size:14px;
line-height:32px;
text-indent:15px;
font-weight:bold;
background-color:#eeefff;
background-image:url(../images/back.png);
}
#search{
height:32px;
font-size:14px;
font-family:"����";
line-height:32px;
text-align:right;
float:right;
color:#999999;
}

#inputarea{
width:70px;
height:18px;	
}
#inputbutton{
width:45px;
height:22px;
font-size:12px;	
}
#image{
float:left;
height:32px;
padding-top:4px;
padding-left:0;
}
#maintable{
margin-top:10px;
border-collapse:collapse;
}

#maintable tr.t1 td {background-color:#fff;}/* ��һ�еı���ɫ */
#maintable tr.t2 td {background-color:#eee;}/* �ڶ��еı���ɫ */
#maintable tr.t3 td {background-color:#ccc;}/* ��꾭��ʱ�ı���ɫ */

#map{
margin:5px 5px 5px 5px;
}

/****************************/
.STYLE1 {
font-size: 10px;
color:#000000;
}
.STYLE4 {
	font-size: 12px;
	color: #1F4A65;
	font-weight: bold;
}
.STYLE7 {
font-size: 12;
}
a:link,a:visited {
font-size: 12px;
color: #06482a;
text-decoration: none;
}
a:hover,a:active {
font-size: 12px;
color: #FF0000;
text-decoration: underline;
}
td.tablehead{
font-size: 14px;
text-align:center;
line-height:26px;
font-weight:bold;
height:26px;
}
td.tablecontent{
font-size: 13px;
text-align:center;
height:22px;
background-color:#ffffff;
color:#333333;
}

td.tablecontent a:link{
text-decoration: none;
color: #333333;
}
td.tablecontent a:visited{
text-decoration: none;
color: #333333;	
}
.imagebutton{
cursor:pointer;
}
.imagebuttonhide{
opacity:0.7;
filter:alpha(opacity=70);	
cursor:default;
}

td>font{
color:#ff0000;
}
#areaname{
font-size: 14px;
text-align:left;
height:18px;
background-color:#ffffff;
color:#333333;
}

.tablerow{
height:25px;
}
.tablerow td{
font-size:13px;
font-family:"����";
color:#000000;
}

/*****���ס��*******/
.title{
width:150px;
height:50px;
text-indent:5px;
font-size:18px;
font-family:"����";
text-align:right;
color:#333333;
font-weight:700;
}
.selectfont{
font-size:18px;
font-family:"����";
text-align:left;
font-weight:700;
color:#ff0000;
}
.buttonsave{
width:65px;
height:25px;
background-color:#146ebe;
color:#FFFFFF;
border:0;
cursor:pointer;
}
.buttonreset{
width:65px;
height:25px;
background-color:#669900;
color:#FFFFFF;
border:0;
cursor:pointer;
}
input{
width:200px;
height:20px;
font-size:16px;
font-family:"����";
}



/***********/
#footer{
font-family:"Times New Roman", Times, serif;
color:#666666;
font-size:14px;
margin-bottom:40px;
margin-top:30px;
}