/* CSS Document */
body{
margin:0;
height:100%;
}
#header{
height:60px;
}
/*第一层*/
#header_first{
height:9px;
background-image:url(../images/main_02.gif);
}
#header_first_left{
width:97px;
height:9px;
background-image:url(../images/main_01.gif);
}
/*第二层*/
#header_second{
height:47px;
background-image:url(../images/main_03.gif);
}
#header_second_welcome{
width:38px;
height:47px;
background-image:url(../images/main_04.gif);
float:left;
}
#header_second_word{
width:59px;
height:47px;
float:left;
}
#header_second_word div{
width:59px;
height:29px;
background-image:url(../images/main_05.gif);
}
#header_second_word span{
font-family:"宋体";
font-size:10px;
}
#header_second_image{
width:50px;
height:47px;
background-image:url(../images/main_08.png);
float:left;
}
#logo{
font-family:"宋体";
font-size:22px;
text-indent:0px;
font-weight:bold;
color:#669900;
line-height:47px;
float:left;
}
#menudiv{
margin-left:10px;
float:left;
margin-top:15px;
}
#menudiv image{
width:367px;
height:23px;
border:0;
}
#clockdiv{
float:right;
width:200px;
height:47px;
background-image:url(../images/clock.gif);
}
#time{
text-align:center;
width:200px;
color: #43860c;
font-size:12px;
line-height:57px;
}
/*第三层*/
#header_third{
height:5px;
background-image:url(../images/main_06.gif);
}
#header_third_first{
width:180px;
height:5px;
background-image:url(../images/main_07.gif);
}

/****中间区域*****/
#content{
height:600px;
}
#left{
width:200px;
height:600px;
background-color:#aedb63;
float:left;
}
#navitop{
margin-top:10px;
margin-left:10px;
width:180px;
height:200px;
background-color:#FFFFFF;
}


#right{
height:580px;
float:left;
width:1145px;
}
.main{
margin-left:5px;
margin-top:5px;
padding-top:5px;
padding-left:5px;
padding-bottom:5px;
background-color:#f3ffe3;
border:1px solid #d8f2b8;
}
#status{
font-family:"宋体";
font-size:13px;
font-weight:bold;
text-indent:10px;
color:#666666;
}

#data span{
font-family:"宋体";
font-size:15px;
font-weight:bold;
text-indent:10px;
color:#666666;
}
#data table{
border:1px;}
th{
background-image:url(../images/main_09.png);
font-size:10px;
font-family:"宋体";
color:#000000;
height:13px;
}




/***********/
#footer{
height:20px;
border:1px solid #000000;
}


/*****/
.STYLE1 {font-size: 12px}
.STYLE4 {
	font-size: 12px;
	color: #1F4A65;
	font-weight: bold;
}
.STYLE7 {font-size: 12}
a:link,a:visited {
	font-size: 12px;
	color: #06482a;
	text-decoration: none;

}
a:hover,a:active {
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
}
td.tablehead{
background-image:url(../images/tab_14.gif);
font-size: 12px;
text-align:center;
height:26px;
}
td.tablecontent{
font-size: 12px;
text-align:center;
height:18px;
background-color:#ffffff;
}
.imagebutton{
cursor:pointer;}